*
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Calibri;
}

html
{
	scroll-behavior: smooth;
}

/*Studybyte Home Page CSS*/
#Studybyte_search .ABOUT
{
	text-decoration: none;
	color: #f9f9f9;
	font-size: 20px;
	position: absolute;
	top: 2%;
	left: 2%;
	transform: translate(-2%, -2%);
	transition: 0.8s;
}

#Studybyte_search .ABOUT:hover
{
	text-decoration: underline;
	font-size: 27px;
	transition: 0.8s;
}

#Studybyte_search img
{
	position: absolute;
	top: 2%;
	right: 2%;
	transform: translate(-2%, -2%);
	width: 50px;
	height: 50px;
	transition: 0.8s;
}

#Studybyte_search img:hover
{
	width: 70px;
	height: 70px;
	transition: 0.8s;
}

#Studybyte_search h4 a
{
	text-decoration: none;
	color: #2c2c2c;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
	font-size: 50px;
	transition: 0.8s;
	cursor: pointer;
}

#Studybyte_search h4 a:hover
{
	color: #f9f9f9;
	text-align: center;
	font-size: 60px;
	transition: 0.8s;
}

#GetValue
{
	color: #f9f9f9;
	background-color: #373737;
	border-radius: 5px;
	border: none;
	outline: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 40px;
	padding-left: 10px;
	font-family: Calibri;
	z-index: 999;
	transition: 0.8s;
}

#GetValue:hover
{
	border-radius: 50px;
	background-color: #f9f9f9;
	color: #2c2c2c;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	font-size: 15px;
	transition: 0.8s;
}

#GetValue:focus
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.8s;
}

#GetData
{
	color: #f9f9f9;
	background-color: #373737;
	border-radius: 5px;
	border: none;
	outline: none;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
	height: 30px;
	width: 12%;
	text-align: center;
	cursor: pointer;
	transition: 0.8s;
}

#GetData:hover
{
	border-radius: 50px;
	background-color: #f9f9f9;
	color: #2c2c2c;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.8s;
}

.Note
{
	text-decoration: none;
	color: #f9f9f9;
	cursor: default;
	position: absolute;
	bottom: 1%;
	left: 1%;
	transform: translate(-1%, -1%);
	font-size: 12px;
}

/*Studybyte Search Result Page CSS*/
#Studybyte_result_search h4 a
{
	text-decoration: none;
	text-align: center;
	color: #f9f9f9;
	position: absolute;
	top: 2%;
	left: 2%;
	transform: translate(-2%, -2%);
	font-size: 20px;
}

#Studybyte_result_search #GetValue
{
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%, -2%);
	height: 30px;
}

#Studybyte_result_search #GetData
{
	position: absolute;
	top: 2%;
	left: 98%;
	transform: translate(-98%, -2%);
}

#NumOfLinks
{
	color: #f9f9f9;
	font-size: 17px;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}

#ScrollToTop
{
	opacity: 0;
	visibility: hidden;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #373737;
	color: #f9f9f9;
	width: 40px;
	height: 40px;
	font-size: 17px;
	text-align: center;
	cursor: pointer;
	position: fixed;
	bottom: 2%;
	right: 2%;
	transform: translate(-2%, -2%);
	transition: 0.8s;
}

#ScrollToTop:hover
{
	border-radius: 50px;
	transition: 0.8s;
}

/*Studybyte Error Page CSS*/
.Error_info
{
	cursor: default;
	color: #f9f9f9;
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	transition: 0.8s;
}

.Error_info:hover
{
	font-size: 35px;
	transition: 0.8s;
}

.Error_info2
{
	cursor: default;
	color: #f9f9f9;
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
	transition: 0.8s;
}

.Error_info2:hover
{
	color: #2c2c2c;
	background-color: #f9f9f9;
	font-size: 35px;
	transition: 0.8s;
}

#Searchterm
{
	cursor: default;
	color: #f9f9f9;
	font-size: 25px;
	position: absolute;
	top: 15%;
	left: 5%;
	transform: translate(-5%, -15%);
	transition: 0.8s;
}

#Searchterm:hover
{
	color: #ff5959;
	font-size: 30px;
	transition: 0.8s;
}

/*Studybyte Search Result Page Links CSS*/
#Database
{
	margin-top: 10%;
}

#Database #LinkList
{
	display: none;
}

#Database li
{
	padding: 50px 50px;
}

#Database a:link
{
	text-decoration: none;
	color: #8c8cfa;
	cursor: pointer;
	font-size: 25px;
	transition: 0.8s;
}

#Database a:visited
{
	color: #ac77e7;
}

#Database a:hover
{
	text-decoration: underline;
	transition: 0.8s;
}

#Database a:active
{
	color: #99bae6;
}
