@import url("https://fonts.googleapis.com/css?family=Roboto");

*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Roboto";
    color: #f9f9f9;
    background-image: url("../../res/Background/Background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

::-webkit-scrollbar
{
    width: 10px;
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb
{
    background: #474747;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #575757;
}

.SearchAtTop
{
    display: flex;
    font-family: "Roboto Thin";
    margin: 10px 10px;
}

.SearchAtTop a
{
    color: #f9f9f9;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.2s;
}

.SearchAtTop a:hover
{
    color: #ff5959;
    transition: 0.2s;
}

.SearchAtTop #Searchbar
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    font-size: 15px;
    color: #f9f9f9;
    background: #373737;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 700px;
    height: 40px;
    transition: 0.2s;
}

.SearchAtTop #Searchbar:hover
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

.SearchAtTop #Searchbar:focus
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

.SearchAtTop #Searchbtn
{

    font-family: "Roboto Thin";
    text-align: center;
    font-size: 17px;
    color: #f9f9f9;
    background: #373737;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 130px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.SearchAtTop #Searchbtn:hover
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

.SearchAtTop #Searchbtn:focus
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

#NumOfResults
{
    margin-top: 10px;
    cursor: default;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

#Results
{
    margin-top: 125px;
}

#Results li
{
    padding-left: 50px;
    padding-bottom: 125px;
}

#Results li a:link
{
	text-decoration: none;
	color: #8c8cfa;
	cursor: pointer;
	font-size: 18px;
	transition: 0.2s;
}

#Results li a:visited
{
	color: #ac77e7;
}

#Results li a:hover
{
    font-size: 20px;
	text-decoration: underline;
	transition: 0.2s;
}

#Results li a:active
{
	color: #99bae6;
}

#ScrollToTop
{
    opacity: 0;
	visibility: hidden;
	color: #f9f9f9;
	background-color: #373737;
	border: none;
	outline: none;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	transition: 0.2s;
}

#ScrollToTop:hover
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

.Error
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin-top: 300px;
    cursor: default;
    font-size: 50px;
    font-weight: normal;
    font-family: "Roboto Thin";
    transition: 0.2s;
}

.Error:hover
{
    color: #ff5959;
    transition: 0.2s;
}

.Error2
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin-top: 20px;
    cursor: default;
    font-size: 40px;
    font-weight: normal;
    font-family: "Roboto";
    transition: 0.2s;
}

.Error2:hover
{
    color: #2c2c2c;
    background: #f9f9f9;
    transition: 0.2s;
}

/*This will make the site responsive*/
@media screen and (max-width: 800px)
{
    .SearchAtTop a
    {
        font-size: 30px;
    }

    .SearchAtTop #Searchbar
    {
        font-size: 15px;
        width: 400px;
        height: 40px;
    }

    .Error2
    {
        font-size: 32px;
    }

    #Results
    {
        margin-bottom: 150px;
    }

    #Results li
    {
        padding-left: 25px;
    }
}

@media screen and (max-width: 500px)
{
    .SearchAtTop a
    {
        display: none;
        visibility: hidden;
    }

    .SearchAtTop #Searchbar
    {
        float: left;
        font-size: 15px;
        width: 220px;
        height: 40px;
    }

    .SearchAtTop #Searchbtn
    {
    
        font-size: 17px;
        width: 100px;
        height: 40px;
    }

    .Error
    {
        font-size: 30px;
    }

    .Error2
    {
        font-size: 17px;
    }

    #Results
    {
        margin-bottom: 150px;
    }

    #Results li
    {
        padding-left: 25px;
    }
}
