*
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body
{
	background-image: url("../res/Unsplash-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/*Studybyte Home Page CSS*/
#Studybyte_search img
{
	position: absolute;
	top: 2%;
	right: 2%;
	transform: translate(-2%, -2%);
	width: 50px;
	height: 50px;
	transition: 0.8s;
}

#Studybyte_search img:hover
{
	width: 70px;
	height: 70px;
	transition: 0.8s;
}

#Studybyte_search h4 a
{
	font-family: Calibri;
	text-decoration: none;
	color: #2c2c2c;
	position: absolute;
	top: 40%;
	left: 48%;
	transform: translate(-40%,-48%);
	text-align: center;
	font-size: 50px;
	transition: 0.8s;
	cursor: pointer;
}

#Studybyte_search h4 a:hover
{
	color: #f9f9f9;
	text-align: center;
	font-size: 60px;
	transition: 0.8s;
}

#GetValue
{
	background-color: #2c2c2c;
	color: #f9f9f9;
	border-radius: 5px;
	border: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50%;
	height: 40px;
	transition: 0.8s;
	text-align: center;
	font-size: 15px;
	font-family: Calibri;
}

#GetValue:hover
{
	border-radius: 50px;
	background-color: #f9f9f9;
	color: #2c2c2c;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.8s;
}

#GetValue:focus
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.8s;
}

#GetData
{
	background-color: #2c2c2c;
	color: #f9f9f9;
	border-radius: 5px;
	border: none;
	position: absolute;
	top: 60%;
	left: 51%;
	transform: translate(-60%,-51%);
	width: 13%;
	height: 30px;
	transition: 0.8s;
	text-align: center;
	font-family: Calibri;
	cursor: pointer;
}

#GetData:hover
{
	border-radius: 50px;
	background-color: #f9f9f9;
	color: #2c2c2c;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.8s;
}

.Note
{
	font-family: Calibri;
	text-decoration: none;
	color: #f9f9f9;
	cursor: default;
	position: absolute;
	bottom: 1%;
	left: 1%;
	font-size: 12px;
	transition: 0.8s;
}

.Note:hover
{
	color: #2c2c2c;
	transition: 0.8s;
}

/*Studybyte Search Result Page CSS*/
#Studybyte_result_search h4 a
{
	font-family: Calibri;
	text-decoration: none;
	color: #f9f9f9;
	position: absolute;
	top: 2%;
	left: 2%;
	text-align: center;
	font-size: 20px;
	transition: 0.8s;
	cursor: pointer;
	z-index: 999;
}

#Studybyte_result_search h4 a:hover
{
	color: #2c2c2c;
	text-align: center;
	font-size: 23px;
	position: absolute;
	top: 1.75%;
	transition: 0.8s;
}

#Studybyte_result_search #GetValue
{
	background-color: #2c2c2c;
	color: #f9f9f9;
	border-radius: 5px;
	border: none;
	position: absolute;
	top: 4%;
	left: 50%;
	width: 50%;
	height: 30px;
	transition: 0.8s;
	text-align: center;
	z-index: 999;
}

#Studybyte_result_search #GetValue:hover
{
	border-radius: 50px;
	background-color: #f9f9f9;
	color: #2c2c2c;
	transition: 0.8s;
}

#Studybyte_result_search #GetData
{
	background-color: #2c2c2c;
	color: #f9f9f9;
	border-radius: 5px;
	border: none;
	position: absolute;
	top: 4%;
	left: 92%;
	width: 13%;
	height: 30px;
	transition: 0.8s;
	text-align: center;
	cursor: pointer;
	z-index: 999;
}

#Studybyte_result_search #GetData:hover
{
	border-radius: 50px;
	background-color: #f9f9f9;
	color: #2c2c2c;
	transition: 0.8s;
}

/*Studybyte Error Page CSS*/
.Error_info
{
	cursor: default;
	font-family: Calibri;
	color: #f9f9f9;
	font-size: 30px;
	position: absolute;
	top: 45%;
	left: 36%;
	transition: 0.8s;
}

.Error_info:hover
{
	color: #2c2c2c;
	text-align: center;
	font-size: 35px;
	position: absolute;
	top: 45%;
	left: 34%;
	transition: 0.8s;
}

.Error_info2
{
	cursor: default;
	font-family: Calibri;
	color: #f9f9f9;
	font-size: 30px;
	position: absolute;
	top: 52%;
	left: 19%;
	transition: 0.8s;
}

.Error_info2:hover
{
	color: #2c2c2c;
	text-align: center;
	font-size: 35px;
	position: absolute;
	top: 52%;
	left: 14%;
	transition: 0.8s;
	background-color: #f9f9f9;
}

#Searchterm
{
	cursor: default;
	font-family: Calibri;
	color: #f9f9f9;
	font-size: 25px;
	position: absolute;
	top: 15%;
	left: 5%;
	transition: 0.8s;
}

#Searchterm:hover
{
	color: #ff5959;
	background-color: #2c2c2c;
	font-size: 30px;
	transition: 0.8s;
}

/*Studybyte Search Result Page Links CSS*/
#Database
{
	margin-top: 70px;
}

#Database li
{
	padding: 40px 50px;
}

#Database a
{
	text-decoration: none;
	color: #f9f9f9;
	cursor: pointer;
	font-size: 25px;
	font-family: Calibri;
	transition: 0.8s;
}

#Database a:hover
{
	background-color: #2c2c2c;
	font-size: 30px;
	transition: 0.8s;
}
